.site-footer {
    background: #efefef;
    padding: 70px 0;
    a {
        color: $primary;
        position: relative;
        display: inline-block;
    }
    p {
        font-size: 14px;
    }
    .widget {
        margin-bottom: 40px;
        display: block;
        position: relative;
        z-index: 1;
        h3 {
            font-size: 1.25rem;
            color: $black;
            margin-bottom: 30px;
        }
    }
    .logotext {
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        img {
            width: 50%;
            height: auto;
            &:first-child {
                padding: 0.5rem;
                border-right: 1px solid $gray-400;
            }
        }
        @include media-breakpoint-up(sm) {
            img {
                width: auto;
                height: 4rem;
            }
        }
    }
}